.sk-heading,
.sk-label,
.sk-input,
.sk-submit,
.sk-submit:hover {
  background-color: #dfdfdf;
  animation: pulse 1.5s ease-in-out infinite;
}

.sk-input {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.sk-heading {
  cursor: default;
  user-select: none;
  color: transparent;
  border-radius: 5px;
  margin: 0 auto 32px;
  max-width: max-content;
}

.sk-label {
  user-select: none;
  color: transparent;
  border-radius: 5px;
  max-width: max-content;
}

.sk-checkbox {
  visibility: hidden;
}

.sk-submit,
.sk-submit:hover {
  color: transparent;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
